node_modules
dist
out
*.log*

# custom
pnpm-lock.yaml
*.tsbuildinfo
qt-temp.ts

# lapki-compiler
ACCESS_TOKENS.txt
resources/modules/win32/lapki-compiler/fullgraphmlparser
resources/modules/win32/lapki-compiler/library
resources/modules/win32/lapki-compiler/platforms
resources/modules/win32/arduino-cli
resources/modules/win32/avrdude
resources/modules/win32/gcc-arm-none-eabi