[submodule "resources/docserver"]
	path = resources/docserver
	url = https://github.com/kruzhok-team/lapki-docserver.git

[submodule "build/lapki-compiler"]
	path = build/lapki-compiler
	url = https://github.com/kruzhok-team/lapki-compiler.git
