.CustomSelect__control {
  @apply bg-bg-secondary shadow-none !important;
}

.CustomSelect__control--is-focused {
  @apply border-border-primary !important;
}

.CustomSelect__single-value {
  @apply text-text-primary !important;
}

.CustomSelect__indicator-separator {
  @apply bg-border-primary !important;
}

.CustomSelect__menu {
  @apply rounded;
}

.CustomSelect__menu-list {
  @apply rounded bg-bg-primary;
}

.CustomSelect__option--is-focused {
  @apply bg-bg-hover !important;
}

.CustomSelect__option--is-focused:active {
  @apply bg-bg-active !important;
}

.CustomSelect__option--is-selected {
  @apply bg-primary !important;
}
