.CustomSelect__control {
  @apply border-border-primary bg-transparent shadow-none !important;
}

.CustomSelect__control--is-focused {
  @apply border-text-primary !important;
}

.CustomSelect__single-value {
  @apply text-text-primary !important;
}

.CustomSelect__indicator-separator {
  @apply bg-border-primary !important;
}

.CustomSelect__indicator {
  @apply text-border-primary !important;
}

.CustomSelect__control:hover .CustomSelect__indicator {
  @apply text-text-primary !important;
}

.CustomSelect__menu {
  @apply overflow-hidden rounded bg-bg-primary;
}

.CustomSelect__menu-list {
  @apply bg-bg-primary scrollbar-thin scrollbar-track-scrollbar-track scrollbar-thumb-scrollbar-thumb;
}

.CustomSelect__option--is-focused {
  @apply bg-bg-hover !important;
}

.CustomSelect__option--is-focused:active {
  @apply bg-bg-active !important;
}

.CustomSelect__option--is-selected {
  @apply bg-primary !important;
}

.error > .CustomSelect__control {
  @apply border-error !important;
}
