.component-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 350px;
  overflow-y: auto;
  margin-top: 0.5rem;
}

/* width */
.component-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.component-list::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
.component-list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
.component-list ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
