.modal-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
  /* border: #ddd solid 1px; */
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  /* padding-top: 0.5rem; */
}

/* width */
.modal-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.modal-list::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
.modal-list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
.modal-list ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
