name: 'tagged-release'

on:
  push:
    tags:
      - 'v*'

jobs:
  gh_tagged_release:
    runs-on: 'ubuntu-latest'

    permissions: write-all

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Download a file
        run: wget https://github.com/avrdudes/avrdude/releases/download/v7.2/avrdude-v7.2-windows-x86.zip -O resources/modules/win32/avrdude.zip

      - name: Unzip
        run: unzip resources/modules/win32/avrdude.zip

      - name: Clean
        run: rm -f resources/modules/win32/avrdude.zip

      - name: Check
        run: ls -la resources/modules/win32

      - name: Run the build process with Docker
        uses: addnab/docker-run-action@v3
        with:
          image: electronuserland/builder:wine
          options: -v ${{ github.workspace }}:/project
          run: |
            npm ci
            npm run build
            npm run bundle:linux
            npm run bundle:win

      - uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          prerelease: false
          files: |
            dist/*.deb
            dist/*.snap
            dist/*.AppImage
            dist/*.exe
        id: 'automatic_releases'
